.footer {
  background-color: $footerBG;
  padding: 24px;
  .footerTop {
    @include breakpoint($ipad){
      flex-wrap: wrap;
    }
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $underLine;
    padding-bottom: 24px;
    .footerGrid-3 {
      flex: 0 1 25%;
      @include breakpoint($iphone){
        flex: 1 1 100%;
      }
      ul {
        @include breakpoint($iphone){
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
        }
        padding-left: 0;
        li {
          @include breakpoint($iphone){
            flex: 1 1 100%;
          }
          color: rgba(0, 0, 0, 0.54);
          font-size: .9rem;
          line-height: 1.875;
          font-weight: 300;
        }
      }
    }
    .footerGrid-7 {
      @include breakpoint($ipad){
        flex: 0 1 100%;
      }
      @include breakpoint($iphone){
        flex-wrap: wrap;
        .Empy-item {
          flex: 0 1 33.33%!important;
          margin-top: 12px;
        }
      }
      flex: 0 1 75%;
      display: flex;
      justify-content: space-between;
      .Empy-item {
        @include breakpoint($ipad){
          flex: 0 1 calc(16.66666666666667%);
        }
        flex: 0 1 calc(16.66666666666667% - 50px);
        .itemName {
          @include breakpoint($iphone){
            font-size: 1rem;
          }
          font-size: 1.15rem;
          padding-bottom: 8px;
          border-bottom: 1px solid $underLine;
        }
        .subItem {
          font-size: .95rem;
          padding: 8px 0 4px;
          font-weight: 300;
        }
      }
    }
  }
  .footerBottom {
    padding-top: 24px;
    .socialContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 260px;
      margin: 0 auto;
    }
    .copyright {
      @include breakpoint($iphone){
        font-size: .8rem;
        line-height: 1.5;
      }
      text-align: center;
      margin-top: 12px;
      font-size: .95rem;
      font-weight: 300;
    }
  }
}